#custom-modal,
#conversion-modal {
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    min-width: 1280px;
    background-color: #e3eefc;
    border-radius: 0.375rem;
    overflow: scroll;
    scroll-behavior: smooth;
}

#conversion-modal {
    background-color: #e3eefc;
    z-index: 1000;
}

/*Modal Grid*/
.grid-container {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

/*Modal Header*/
.order-heading {
    font-size: 1rem;
    color: #3f3f3f;
}

/*Grid Inner Container*/
.grid-inner-container {
    padding: 0.5rem;
    height: 100%;
}

.product-row-input input {
    padding-left: 0.5rem !important;
    height: 26px !important;
    width: 100% !important;
}

/*Header*/
.table-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*Order & Product tables*/
.table-container, .product-table-container {
    max-height: 11rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.product-conversion-table-container {
    max-height: 18rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/*Resource Modal Button*/
.hover-button {
    transition: box-shadow 0.3s ease;
}
.hover-button:hover {
    box-shadow: 2px 2px 2px #00a8c6;
}
/*----*/

/*Modal Close Button*/
.close-button {
    transition: box-shadow 0.3s ease;
    border: 1px solid black;
    color: black;
}
.close-button:hover {
    box-shadow: 2px 2px 2px black;
}
/*----*/

/*Convert Button*/
.covert-button {
    transition: box-shadow 0.3s ease;
    border: 1px solid blue;
    color: blue;
}
.covert-button:hover {
    box-shadow: 2px 2px 2px blue;
}
/*----*/

/*Amend Button*/
.amend-button {
    transition: box-shadow 0.3s ease;
    border: 1px solid red;
    color: red;
}
.amend-button:hover {
    box-shadow: 2px 2px 2px red;
}
/*----*/

.product-row {
    padding: 0.25rem 0.50rem;
    white-space: nowrap !important;
}

/*Selected Row*/
.selected-row {
    background: #e2e8f0 !important;
}

.order-parent:hover > .element {
    background: #e2e8f077 !important;
    cursor: pointer;
}
/*----*/

@media (max-width: 1280px ) {
    #custom-modal,
    #conversion-modal {
        min-width: 90%
    }
}

@media (max-width: 768px ) {
    #custom-modal,
    #conversion-modal {
        position: absolute;
        top: -2%;
        max-width: 95%;
        min-width: 95%
    }

    .grid-container {
        padding: 0;
    }
}
